{%  extends "base.html" %}
{%  load static %}

{%  block styles %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/css/responsive.bootstrap4.min.css' %}"/>
    

    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>  
    <link rel="stylesheet" href="{% static 'css/index.css' %}"/>
  {%  endblock  %} 
{%  block scripts %}
<!--Fontawesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<!---->

    <script src="{% static 'lib/select2-4.0.13/js/select2.full.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    
    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/responsive-2.2.3/js/responsive.bootstrap4.min.js' %}"></script>

    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>

    <script src="{% static 'js/funciones.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>

  {%  endblock  %}
  
{% block content %}
    {% include 'especialidadesModal.html' %}
    {% include 'especialidadesModal2.html' %}

    
    <h2><center>ADMINISTRADOR</center></h2>
    <hr>
    <div class="container botonesNav">
        <div class="btn-group-lg" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" >
            <label class="btn btn-outline-primary" for="btnradio1">Autores</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio2">Trabajos</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio3">Cursos</label>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
            <a class="btn btn-outline-primary" for="btnradio4" href="{% url 'user:user_list' %}">Usuarios</a>
          
            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
            <a class="btn btn-outline-primary" for="btnradio5" href="{% url 'reportes'  %} ">Reportes</a>
        </div>
    </div>
    <br>
    {% include 'messages.html' %}

    <div class="container-fluid " id="contenedorTrabajos">
        {% include 'tablas/trabajosList.html' %}
        <div class="modal fade contenedor" id="evaluador_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
        </div>
        <div class="modal fade contenedor" id="editManus_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>
    </div>
    <div class="container-fluid " id="contenedorAutores" hidden>
        {% include 'tablas/autoresList.html' %}
        <div class="modal fade contenedor" id="crearAutor_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
        </div>
        <div class="modal fade contenedor" id="editAutor_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>
        <div class="modal fade contenedor" id="eliminarAutor_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>
    </div>
    <div class="container-fluid " id="contenedorCursos" hidden>
        {% include 'tablas/cursosList.html' %}
        <div class="modal fade contenedor" id="crearCurso_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
        </div>
        <div class="modal fade contenedor" id="editCurso_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>
        <div class="modal fade contenedor" id="eliminarCurso_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        </div>
    </div>
    <div class="container-fluid " id="contenedorUsuarios" hidden>
        <h4><center>Modulo usuarios</center></h4>
    </div>
    <div class="container-fluid " id="contenedorReportes" hidden>
    </div>
    
    <br><br>
{% endblock %}
{% block javascript %}
       <script type="text/javascript">
            
            $('#autores').DataTable({
                responsive: true,
                autoWidth: false
            });
            $('#cursos').DataTable({
                responsive: true,
                autoWidth: false
            });
            $('#trabajos').DataTable({
                responsive: true,
                autoWidth: false
            });             
            function abrir_modal_editManus(url){
                $('#editManus_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_createAutor(url){
                $('#crearAutor_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }           
            function abrir_modal_editAutor(url){
                $('#editAutor_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_deleteAutor(url){
                $('#eliminarAutor_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_createCurso(url){
                $('#crearCurso_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_editCurso(url){
                $('#editCurso_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_deleteCurso(url){
                $('#eliminarCurso_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_evaluador(url){
                $('#evaluador_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            
        </script>
{% endblock %}