{%  extends "base.html" %}
{%  block title %}
    SCCOT
{%  endblock    %}
{% load static %}
    {% block styles %}
    
    <link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    
    <link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet"/>    

    
{% endblock %}
{% block scripts %}
<!--Fontawesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<!---->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
    <script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/select2.full.min.js' %}"></script>
    <script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>
    <script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
    <link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet"/>
    <script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
    <!-- Sweetalert2 -->
    <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
    <script src="{% static 'js/funciones.js' %}"></script>
    <script src="{% static 'js/form.js' %}" ></script>

{% endblock %}
{%  block content   %}

<div class="container ">
    {% include 'institucionModal.html' %}
    {% include 'institucionModal2.html' %}
    {% include 'palabra_claveModal.html' %}
    {% include 'keywordModal.html' %}
    {% include 'modalesInfo.html' %}
	
    <br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error:</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>Bien:</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>WARNING:</strong> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
    <div class="container">
        <form action="" id="trabajo_form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% if action == 'add' %}
            <h1 style="color: rgb(9, 132, 240);" class="card-title"><center>
                <i class="fas fa-plus"></i>
                    {% else %}
                    <i class="fas fa-edit"></i>
                    {% endif %}
                {{ title }}
            </center></h1>
            <br>
            <br>
            {% for row in form %}
            {% if  "Curso" in row.label_tag  %}
            <div class=" container" >
                <div class="grid-container" >
                    <label  class="textLabel" for="{{ row.html_name }}"  >
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
            </div>
            {%  endif %}
            {% endfor %}

            {% for row in form %}
            {% if  "Tipo de trabajo" in row.label_tag  %}
            <div class=" container" >
                <div class="grid-container" >
                    <label  class="textLabel" for="{{ row.html_name }}"  >
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
            </div>
            {%  endif %}
            {% endfor %}

            {% for row in form %}
            {% if  "Subtipo" in row.label_tag  %}
            <div class=" container"  >
                <div class="grid-container" id="subtipoLabel_id" >
                    <label  class="textLabel" for="{{ row.html_name }}">
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
            </div>
            {%  endif %}
            {% endfor %}

            {% for row in form %}
            {% if "titulo" in row.label_tag   %}
            <div class=" container" >
                <div class="grid-container" >
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#tituloInfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> 
                    <label  class="textLabel" for="{{ row.html_name }}"  >
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
            </div>
            {%  endif %}
            {% endfor %}

            {% for row in form %}
            {%  if "Autor de correspondencia" in row.label_tag  %}
            <div class=" container" >
                <div class="form-group">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#autorInfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> 
                    <label  class="textLabel" for="{{ row.html_name }}" >
                        {{ row.label_tag }}
                    </label>
                    <div class="input-group">
                        {{ row }} 
                        <div class="input-group-append">
                            <button class="btn btn-success btn-flat btnAddAutor" type="button">
                                <i class="fa-solid fa-plus"></i> Registrar Autor
                            </button>
                        </div>
                    </div>
                </div>                
            </div>
            {%  endif %}
            {% endfor %}
            <br>
            {% for row in trabajo_autorForm %}
            {%  if "Autores" in row.label_tag %}
            <div class=" container" >
                <div class="form-group">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#autorInfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> 
                    <label  class="textLabel" for="{{ row.html_name }}" >
                        {{ row.label_tag }}
                    </label>
                    <div class="input-group">
                        {{ row }} 
                        <div class="input-group-append">
                            <button class="btn btn-success btn-flat btnAddAutor2" type="button">
                                <i class="fa-solid fa-plus"></i> Registrar Autor
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
            {%  endif %}
            {% endfor %}

            {% for row in form %}
            {% if "Observaciones" in row.label_tag %}
            <div class=" container" >
                <div class="grid-container">
                    <label  class="textLabel" for="{{ row.html_name }}" >
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>   
            </div>
            {%  endif %}
            {% endfor %}

            {% for row in form %}
            {%  if "Institución principal" in row.label_tag %}
            <div class=" container" >
                <div class="form-group">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#instInfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> 
                    <label  class="textLabel" for="{{ row.html_name }}" >
                        {{ row.label_tag }}
                    </label>
                    <div class="input-group">
                        {{ row }} 
                        <div class="input-group-append">
                            <button class="btn btn-success btn-flat btnAddInst" type="button">
                                <i class="fa-solid fa-plus"></i> Registrar Institución
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {%  endif %}
            {% endfor %}
            {% for row in trabajo_instiForm %}
            {%  if "Otras instituciones" in row.label_tag %}
            <div class=" container" >
                <div class="form-group">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#instInfoModal2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> 
                    <label  class="textLabel" for="{{ row.html_name }}" >
                        {{ row.label_tag }}
                    </label>
                    <div class="input-group">
                        {{ row }} 
                        <div class="input-group-append">
                            <button class="btn btn-success btn-flat btnAddInst2" type="button">
                                <i class="fa-solid fa-plus"></i> Registrar Institución
                            </button>
                        </div>
                    </div>
                </div>
                
            </div>
            <br>
            {%  endif %}
            {% endfor %}
            {% for row in form %}
            {% if  "Resumen en español" in row.label_tag  %}
            <div class=" container" >
                <div class="grid-container">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#{{row.html_name}}InfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> <label  class="textLabel" for="{{ row.html_name }}" >
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>   
            </div>
            {%  endif %}
            {% endfor %}

            {% for row in trabajo_palbForm %}
            {% if  "Palabras Claves" in row.label_tag  %}
            <div class=" container" >
                <div class="form-group">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#palabras_clavesInfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> <label  class="textLabel" for="{{ row.html_name }}" >
                    {{ row.label_tag }}
                </label>
                </div>               
                <div class="input-group">
                    {{ row }} 
                    <div class="input-group-append">
                        <button class="btn btn-success btn-flat btnAddPalC" type="button">
                            <i class="fa-solid fa-plus"></i> Registrar Palabra Clave
                        </button>
                    </div>
                </div>
            </div>
            <br>
            {%  endif %}
            {% endfor %}

            {% for row in form %}
            {% if "Resumen en ingles" in row.label_tag  %}
            <div class=" container" >
                <div class="grid-container">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#{{row.html_name}}InfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> 
                    <label  class="textLabel" for="{{ row.html_name }}" >
                        {{ row.label_tag }}
                    </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>   
            </div>
            {%  endif %}
            {% endfor %}

            {% for row in trabajo_keywForm %}
            {% if "Keywords" in row.label_tag %}
            <div class=" container" >
                <div class="form-group">
                    <label  class="textLabel" for="{{ row.html_name }}" >
                        {{ row.label_tag }}
                    </label>
                </div>                              
                <div class="input-group">
                    {{ row }} 
                    <div class="input-group-append">
                        <button class="btn btn-success btn-flat btnAddKeyword" type="button">
                            <i class="fa-solid fa-plus"></i> Registrar keyword
                        </button>
                    </div>
                </div>
            </div>
            <br>
            {%  endif %}
            {% endfor %}

            {% for row in manuscritosForm %}
            <div class=" container" >
                <div class="grid-container" id="eposterLabel_id" hidden>
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#eposterInfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button>
                    <label class="textLabel" for="">
                        E-Poster(Archivo powerPoint máximo 6 diapositivas)
                    </label>
                </div>
                <div class="grid-container" id="manuscritosLabel_id">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#{{row.html_name}}InfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> <label  class="textLabel" for="{{ row.html_name }}" >
                    <label  class="textLabel" for="{{ row.html_name }}" >
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
            </div>
            {% endfor %}
            
            {% for row in tablasForm %}
            <div class=" container" >
                <div class="grid-container"  id="tablaLabel_id">
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal"        data-bs-target="#{{row.html_name}}InfoModal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                    </button> <label  class="textLabel" for="{{ row.html_name }}" >
                    <label  class="textLabel" for="{{ row.html_name }}" >
                    {{ row.label_tag }}
                </label>
                </div>               
                    {{ row }}                              
                <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
            </div>
            {% endfor %}
            
            <input type="hidden" name="action" value="{{ action }}">
              <br>
              <div class="d-grid gap-2 col-4 mx-auto">
                <button type="submit" class="btn btn-primary" id="botonEnviar">Guardar</button>
              </div>
          </form>
    </div>
    {% include 'autoresModal.html' %}
    {% include 'autoresModal2.html' %}
</div>


   <br><br>
{%  endblock    %}