{% load static %}
{% block scripts %}
  <script src="{% static 'js/asignarEval.js' %}"></script>
{% endblock %}

    <div class="modal-dialog">
        <div class="modal-content contenedor2" >
          <div class="modal-header contenedorModal" >
            <h5 class="modal-title" id="exampleModalLabel">{{title}} a trabajo: "{{object}}"</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body contenedorModal" id="modal-body" >
              <div id="alert-box"></div>
              <div class="container" >
                <form action="{% url 'asignarEvaluador' object.id %}" method="post">{% csrf_token %}
                  {% for row in form %}
                  {%  if "Evaluador" in row.label_tag %}
                  <div class="form-group">
                    <label  class="textLabel" for="{{ row.html_name }}" >
                        {{ row.label_tag }}
                    </label>
                        <div class="input-group">
                          {{ row }} 
                        </div>
                  </div>
                  <br>
                  {%  endif %}
                  {% endfor %}
                  
                  {% for row in evaluacionesform %}
                    <label  class="textLabel" for="{{ row.html_name }}" >
                      {{ row.label_tag }}
                    </label>
                    <div class="input-group">
                      {{ row }} 
                    </div>
                  {% endfor %}
                  <br>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="flexCheckDefault" name="confirmacion">
                    <label class="form-check-label" for="flexCheckDefault">
                      Confirmación de manuscrito
                    </label>
                  </div>
                  <br>
                  <div class="modal-footer contenedorModal">
                      <button class="btn btn-success" type="submit" value="Update"> Asignar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>  
                  </div>
                </form>
              </div>          
          </div>
      </div>
  