<div class="modal fade" id="autorInfoModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p>  Incluir información completa y detallada, le recordamos que con esta información se expiden certificados y diplomas según corresponda. </p>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="tituloInfoModal" tabindex="-1" aria-labelledby="helpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p> Se recomienda no incluir fechas, ni lugar donde se realiza el trabajo en el título </p>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
    <div class="modal fade" id="instInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                 <p> Mencione institución donde se desarrolló el trabajo , si no está en la lista registrela con el botón (Registrar Institución)</p>
                  
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
  </div>

  <div class="modal fade" id="resumen_espInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p> El resumen debe ser estructurado: introducción, materiales y métodos, resultados, discusión o conclusión, y nivel de evidencia, no sobrepasar las 250 palabras. </p>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="palabras_clavesInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p>Ajustar las palabras clave & keywords de acuerdo a los buscadores DeCS y MeSH   <a href="https://decs.bvsalud.org/es/" target="_blank">(https://decs.bvsalud.org/es/)</a> </p>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="resumen_inglesInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p> 1. si no aparece en la lista	Registre nombres y apellidos completos </p>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="keywordsInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p> 1. si no aparece en la lista	Registre nombres y apellidos completos </p>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="eposterInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p> Presentación en power point máximo 6 diapositivas con los siguientes ítems: </p>
              <ul>
                <li>Diapositiva 1: Título de la producción</li>
                <li>Diapositiva 2: Título + nombres y afiliaciones de autores</li>
                <li>Diapositiva 3: Introducción y justificación</li>
                <li>Diapositiva 4: Materiales y método o reporte del caso</li>
                <li>Diapositiva 5: Material y método o reporte del caso, continuación (opcional)</li>
                <li>Diapositiva 6: Discusión, (no se espera que haya conclusiones por ser reporte de caso) y máximo 10 referencias</li>
              </ul>
              <p>Nota: El autor puede utilizar audio para su presentación, este es un punto opcional</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>


  <div class="modal fade" id="manuscritoInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p> Con numeración de página, Resumen (español e inglés), Palabras claves (español e inglés), Introducción, Materiales y métodos, Resultados, Discusión y/o conclusiones, Referencias, las figuras, gráficas y tablas deben estar anexas en este documento</p>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>

  <div class="modal fade" id="tablaInfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="helpModalLabel">Instrucciones Para llenar el formato</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
             <p> Incluya información no incluida atrás, como comité de ética, autorizaciones, etc.. que debe tenerse en cuenta</p>
              
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
  </div>