{%  extends "base.html" %}
{%  block title %}
    Detalle Trabajo
{%  endblock    %}
{% load static %}

{%  block styles %}
    <style>
        .frow {
        clear:both;
        padding:10px;
    }
    
    .frow .col {
        display: block;
        float:left;
        margin: 1% 0 1% 1.6%;
        background:rgb(252, 248, 248);
        padding:2%;
    }
    
    .frow .col:first-child { margin-left: 0; }
    
    .frow .col4 {
      width: 33.2%;
    }
        
    @media only screen and (max-width: 480px) {
        .col {  margin: 1% 0 1% 0%;  margin-left: 0 !important;}
        .frow .col3, .frow .col4 { width: 100%; }
    }
    </style>
{%  endblock  %}
{%  block content   %}
<div class="container">
    <br>
    <h1><center>Trabajo Científico: {{ object.titulo|safe }}</center></h1>
    <br>
    <div class="container">
        <div class="row ">            
            <div class="col-4 ">
                <h5 >Código. {{ object.identificador|safe }}</h5>
            </div>
            <div class="col-6 ">
                <h5 >Fecha Registro: {{ object.fecha_subida|date:"d/m/Y H:i:s" }}</h5>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <h3 style="font-weight:bold;"> <center>Información</center></h3> <br>           
    <div class="row ">
        <h4><center>Curso: {{ object.curso |safe}}</center></h4>
        <br><br><br>        
        <div class="col-6 ">
            <h5 >Autor de correspondencia: {{ object.Autor_correspondencia|safe }}</h5>
            <h5 >Correo de autor: {{ object.Autor_correspondencia.email|safe }}</h5>

            <h5 >institución principal: <small>{{ object.institucion_principal |safe}}</small></h5>
        </div>
        <div class="col-2 ">
        </div>
        <div class="col-4 ">
            <h5 >Tipo de trabajo: <small>{{ object.tipo_trabajo |safe}}</small></h5>
            <h5 >Subtipo: <small>{{ object.subtipo_trabajo |safe}}</small></h5>
        </div>
    </div>
    <br>    
    
    <div class="container ">
        <h5 >OBSERVACIONES: <small>{{ object.observaciones |safe}}</small></h5>
        <br>
        <h5 >Resumen en español: </h5>
        <br>
        <p>{{ object.resumen_esp}}</p>
        <br>
        <h5 >Resumen en ingles: </h5>
        <br>
        <p>{{ object.resumen_ingles}}</p>
        <br>
        {% if manuscritos %}
        <h5>Manuscritos: </h5>
        {% for manuscrito in manuscritos %}
        <div class="container">
            <ul>
                <li style="font-size: 20px;">
                    <a href="media/{{ manuscrito.manuscrito }}">{{manuscrito.tituloM}}</a>
                </li>
            </ul>
        </div>
        {% endfor %}
        {%  endif   %}
        <br>
        
        {% if anexos %}
        {% for anexo in anexos %}
        <h5>Otros: </h5>
        <ul>
            <li>
                <a href="media/{{ anexo.tabla }}">{{anexo.tituloT}}</a>
            </li>
        </ul>
        {% endfor %}
        {%  endif   %}
    </div>
    <br>
    <div class="container">
        {% if evaluadores  %}
            <h2><center>Evaluadores asignados</center></h2>
            <div class="frow">
                {% for evaluador in  evaluadores %}
                    <div class="col col4 ">
                        <h5>Titulo: <small>{{evaluador.evaluador}}</small> </h5>
                        <h5>Calificación: <small>{{evaluador.calificacion}}</small> </h5>
                    </div>                                      
                {% endfor %} 
            </div>   
        {%  endif   %}
    </div>
    <br>
    <div class="container-fluid !justify !spacing">
        <div class="d-grid gap-1 col-4 mx-auto">
            <a href="{% url 'inicio'  %}" class="btn btn-success">Regresar</a>
        </div>
    </div>
    <br>
    
</div>
{% endblock %}
