{%  extends "base.html" %}
{%  block title %}
    Detalle Trabajo
{%  endblock    %}
{% load static %}

{%  block styles %}
    <link rel="stylesheet" href="{% static 'css/index_evaluador.css' %}"/>
{%  endblock  %}
{%  block content   %}
<div class="container">
    <br>
    <h1><center>Trabajo Científico: {{ object.titulo|safe }}</center></h1>
    <br>
    <div class="container">
        <div class="row ">            
            <div class="col-4 ">
                <h5 >Código. {{ object.identificador|safe }}</h5>
            </div>
            <div class="col-6 ">
                <h5 >Fecha Registro: {{ object.fecha_subida|date:"d/m/Y H:i:s" }}</h5>
            </div>
        </div>
    </div>
    <hr>
</div>
<div class="container">
    <h3 style="font-weight:bold;"> <center>Información</center></h3> <br>           
    <div class="row ">
        <h4><center>Curso: {{ object.curso |safe}}</center></h4>
        <br><br><br>        
        <div class="col-6 ">
            <h5 >Autor de correspondencia: {{ object.Autor_correspondencia|safe }}</h5>
            <h5 >Correo de autor: {{ object.Autor_correspondencia.email|safe }}</h5>

            <h5 >institución principal: <small>{{ object.institucion_principal |safe}}</small></h5>
        </div>
        <div class="col-2 ">
        </div>
        <div class="col-4 ">
            <h5 >Tipo de trabajo: <small>{{ object.tipo_trabajo |safe}}</small></h5>
            <h5 >Subtipo: <small>{{ object.subtipo_trabajo |safe}}</small></h5>
        </div>
    </div>
    <br>    
    
    <div class="container ">
        <h5 >OBSERVACIONES: <small>{{ object.observaciones |safe}}</small></h5>
        <br>
        <h5 >Resumen en español: </h5>
        <br>
        <p>{{ object.resumen_esp}}</p>
        <br>
        <h5 >Resumen en ingles: </h5>
        <br>
        <p>{{ object.resumen_ingles}}</p>
        <br>
        <div class="row">
            <div class="col-md-6 col-12 " style="border-radius: 3px; box-shadow: 3px 3px 0px 0px #0798ec50;">
                {% if palabrasC  %}
                <h5><center>Palabras Claves</center></h5>
                <div class="frow">
                    {% for palabra in  palabrasC %}
                        <div class="col col4 ">
                            <h6><li>{{palabra.palabra}}</li></h6>
                        </div>                                      
                    {% endfor %} 
                </div>
                
            {% endif %}
            </div>
            <div class="col-md-6 col-12" style="border-radius: 3px; box-shadow:  0px 3px 0px 0px #0798ec50;">   
                {% if keywords  %}
                <h5><center>Keywords</center></h5>
                <div class="frow">
                    {% for keyword in  keywords %}
                        <div class="col col4 ">
                            <h6><li>{{keyword.keyword}}</li> </h6>
                        </div>                                      
                    {% endfor %} 
                </div>
            {% endif %}
            </div>
        </div>
        <br>
        <div class="container">
            
        </div>
        <br>
        {% if manuscritos %}
        <h5>Manuscritos: </h5>
        {% for manuscrito in manuscritos %}
        <div class="container">
            <ul>
                <li style="font-size: 20px;">
                    <a href="/media/{{ manuscrito.manuscrito }}">{{manuscrito.tituloM}}</a>
                </li>
            </ul>
        </div>
        {% endfor %}
        {%  endif   %}
        <br>
        
        {% if anexos %}
        {% for anexo in anexos %}
        <h5>Otros: </h5>
        <ul>
            <li>
                <a href="/media/{{ anexo.tabla }}">{{anexo.tituloT}}</a>
            </li>
        </ul>
        {% endfor %}
        {%  endif   %}
    </div>
    <br>
    <div class="container">
        {% if evaluadores  %}
        <hr>
            <h2><center>Evaluadores asignados</center></h2>
            <div class="row">
                {% for evaluador in  evaluadores %}
                    <div class="col-lg-4 col-md-6 col-12 ">
                        <h5>Nombre: <small>{{evaluador.evaluador}}</small> </h5>
                        <h5>Calificación: <small>{{evaluador.calificacion}}</small> </h5>
                        <h5>Observaciones y/o comentarios</h5>
                        <div class="container" style="word-wrap: break-word;">
                            {{evaluador.comentario}}
                        </div>
                        <h5>Fecha: <small>{{evaluador.fecha_evaluacion}}</small></h5>
                    </div>                                      
                {% endfor %} 
            </div>
        
        {% if object.calificacion %}
        <h2><strong><center>CALIFICACIÓN = {{object.calificacion}}</center></strong></h2>
        <br>
        {% endif %}
        <h3><strong><center>SACAR PROMEDIO</center></strong></h3>
        <div class="container-fluid !justify !spacing">
            <div class="d-grid gap-1 col-4 mx-auto">
                <a href="{% url 'promediarEvaluacion' object.id %}" class="btn btn-warning">PROMEDIO</a>
            </div>
        </div>
        {%  endif   %}
    </div>
    <hr>
    <br>
    <div class="container-fluid !justify !spacing">
        <div class="d-grid gap-1 col-4 mx-auto">
            <a href="{% url 'inicio'  %}" class="btn btn-success">Regresar</a>
        </div>
    </div>
    <br>
    
</div>
{% endblock %}
