#trabajos td  {
    vertical-align:middle;
}
#autores td,th  {
    text-align: center;
    vertical-align:middle;
}
#cursos td,th  {
    text-align: center;
    vertical-align:middle;
}
.botonesNav {
    display: flex;
    justify-content: center;
}