<div class="modal fade " id="plantillaEP_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content " >
      <div class="modal-header contenedorModal" >
        <h5 class="modal-title" id="exampleModalLabel">Evaluar Trabajo: "{{object.trabajo}}"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body contenedorModal" id="modal-body" >
          <div id="alert-box"></div>
          <div class="container" >
            <div class="container  !align !spacing">
              <p >Apreciado colega, a continuación encuentra el formato de calificación para los E-póster. Le solicitamos leer cuidadosamente el texto y calificar cada item  entre 1 y 10 mediante el menú desplegable correspondiente. La calificación final se obtendrá del promedio de puntaje de cada pregunta</p>
            </div>
            <form action="" method="post">{% csrf_token %}
              {% for row in formEP %}              
              <div class=" container" >
                  <div class="grid-container" >
                        <div  class="grid-container" for="{{ row.html_name }}"  >
                        {{ row.label_tag }}
                        {{ row }}  
                        </div>
                  </div>                                                         
                      <p style="color: rgb(15, 139, 139); margin-top: 20px; text-align: center;font-size: larger;">{{ row.help_text }}</p>                      
                      
                  <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
              </div>
              {% endfor %}
              <br>
              <div class="modal-footer contenedorModal">
                  <button class="btn btn-success" type="submit" value="Update"> Calificar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </form>
          </div>      
      </div>
    </div>
  </div>
</div>