<div class="modal-dialog modal-lg">
    <div class="modal-content contenedor2" >
      <div class="modal-header contenedorModal" >
        <h5 class="modal-title" id="exampleModalLabel">Evaluar Trabajo: "{{object.trabajo}}"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body contenedorModal" id="modal-body" >
          <div id="alert-box"></div>
          <div class="container" >
            <form action="{% url 'evaluacionECC' object.id %}" method="post">{% csrf_token %}
              {% for row in form %}              
              <div class=" container" >
                  <div class="grid-container" >
                      {% if "¿Justificado por variables de interés?" in row.label_tag  %}
                        <p style="color: rgb(23, 15, 139); margin-top: 20px; text-align: left;font-size: 15px;">Tamaño de la muestra</p> 
                      {% endif %}
                      {% if "¿Justificado por variables de interés?" in row.label_tag or "Cálculo descrito en el manuscrito" in row.label_tag %}
                          <div style="margin-left:20px" class="textLabel" for="{{ row.html_name }}"  >
                            {{ row.label_tag }}
                            <div class="container-md !justify !spacing">
                              {{ row }}  
                            </div>
                          </div>
                        {% else %}
                          <div  class="grid-container" for="{{ row.html_name }}"  >
                            {{ row.label_tag }}
                            {{ row }}  
                          </div>
                        {% endif %} 
                  </div>                                                         
                      <p style="color: rgb(15, 139, 139); margin-top: 20px; text-align: center;font-size: larger;">{{ row.help_text }}</p>                      
                      
                  <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
              </div>
              {% endfor %}
              <br>
              <div class="modal-footer contenedorModal">
                  <button class="btn btn-success" type="submit" value="Update"> Calificar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
        </form>
      </div>
      
    </div>
</div>