<div class="modal-dialog modal-lg">
    <div class="modal-content contenedor2" >
      <div class="modal-header contenedorModal" >
        <h5 class="modal-title" id="exampleModalLabel">Evaluar Trabajo: "{{object.trabajo}}"</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body contenedorModal" id="modal-body" >
          <div id="alert-box"></div>
          <div class="container" >
            <p>Calificación de (0 a 5) Siendo 0 la menor calificación y 5 la mayor </p>
            <form action="{% url 'evaluacionRSyMA' object.id %}" method="post">{% csrf_token %}
              {% for row in form %}              
              <div class=" container" >
                  <div class="grid-container" >
                      <label  class="textLabel" for="{{ row.html_name }}"  >
                      {{ row.label_tag }}
                  </label>
                  </div>               
                      {{ row }}
                      <p style="color: rgb(15, 139, 139); margin-top: 20px; text-align: center;font-size: larger;">{{ row.help_text }}</p>
                  <p class="help-block">{{ row.errors.as_text }} {{ row.field.css_classes }}</p>                       
              </div>
              {% endfor %}
              <br>
              <div class="modal-footer contenedorModal">
                  <button class="btn btn-success" type="submit" value="Update"> Calificar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
        </form>
      </div>
      
    </div>
</div>