{%  extends "base.html" %}
{%  block title %}
    SCCOT
{%  endblock    %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/index_evaluador.css' %}"/>
{% endblock %}
{% block scripts %}
<!--Fontawesome-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
<!---->


{% endblock %}
{%  block content   %}
    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">    

        <div class="container">
          <img src="{%  static 'img/logosccot.png' %}" alt="SCCOT" class="brand-image img-circle elevation-3 " height="100rem" > 
    
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left navbar links -->
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a href="{% url 'inicio'  %}" class="nav-link textColor">{{  user.username }}</a>
              </li>
              <li class="nav-item">
                {% if user.is_authenticated %}
                      <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">logout</a>
                    
                {% else %}
                    <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Login</a>
                  {% endif %}                        
                  </ul>
                </li>
            </ul>
          </div>
    
        </div>
      </nav>
    <br>
    <div class="container ">
        
        {% if user.is_superuser %}
            <h1><center>Evaluaciones</center></h1>
            <hr><br>
            <h2><center>Trabajos por evaluar</center></h2><br><br>
        {% else %}
            <h1><center>Mis evaluaciones</center></h1>
            <hr><br>
            <h2><center>Trabajos por evaluar</center></h2><br><br>
        {% endif %}            
        
        {% for trabajo in  trabajos %}                
        {% if not trabajo.calificacion %}
            <div class="row ${1| ,row-cols-2,row-cols-3, auto,justify-content-md-center,|}">
                <div class="col-7">
                    <h5>Titulo: <small>{{trabajo.titulo}}</small> </h5>
                    <h5>Tipo de trabajo: <small>{{trabajo.tipo_trabajo}}</small> </h5>
                </div>
                <div class="col-5 ">
                    <div class="d-grid gap-2 col-4 mx-auto">                        
                        {% include 'botones_plantilla.html' %}
                    </div>
                </div>
            </div>
            <br>
            {% for manuscrito in manuscritos %}
            {% if manuscrito.trabajo_id == trabajo.id and ".pdf" in manuscrito.tituloM  %}
            <div id="Iframe-Master-CC-and-Rs" class="set-margin set-padding set-border set-box-shadow center-block-horiz">                
                <div class="responsive-wrapper responsive-wrapper-wxh-572x612" >
                    <iframe id="inlineFrameExample" class="responsive-iframe" 
                    src="../../media/{{ manuscrito.manuscrito }}"
                    title="{{ manuscrito.tituloM }}" width="70%" height="50%">
                    </iframe>
                    <br>                    
                </div> 
                <div class="d-grid gap-2 col-12 mx-auto">
                    <a href="../../media/{{manuscrito.manuscrito}}" download="../../media/{{manuscrito.manuscrito}}" class="btn btn-success" id="btn-download"><center><i class="fa-solid fa-file-arrow-down"></i>DESCARGAR</center></a>  
                </div>
            </div>
            {% elif manuscrito.trabajo_id == trabajo.id and "pptx" in manuscrito.tituloM %}
            <div class="d-grid gap-2 col-2 mx-auto">
                <a href="../../media/{{manuscrito.manuscrito}}" class="btn btn-success"><center><i class="fa-solid fa-file-arrow-down"></i>DESCARGAR</center></a>
            </div>
            {%  endif    %}
            {% endfor %}
            <hr>
            
        {% endif %}                                     
        {% endfor %}
    </div>
    <div class="container">        
        {% for trabajo in  trabajos %}                
        {% if  trabajo.calificacion %}
            <h2><center>Trabajos Evaluados</center></h2><br><br>
            <div class="container">
                <h5>Titulo: <small>{{trabajo.titulo}}</small> </h5>
                <h5>Tipo de trabajo: <small>{{trabajo.tipo_trabajo}}</small> </h5>
                <h5>Calificación: <small>{{trabajo.calificacion}}</small> </h5>
                <br>                
            </div>   
        {% endif %}                                     
        {% endfor %} 
    </div>
    <div class="modal fade " id="plantilla1_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
    </div>
    <div class="modal fade " id="plantilla2_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    <div class="modal fade " id="plantilla3_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    <div class="modal fade " id="plantilla4_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="overflow-y: scroll;">
    </div>
    <div class="modal fade " id="plantilla5_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
    <div class="modal fade " id="plantilla6_Modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    </div>
{% endblock %}

{% block javascript %}
       <script type="text/javascript">
                              
            function abrir_modal_plantilla1(url){
                $('#plantilla1_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_plantilla2(url){
                $('#plantilla2_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }           
            function abrir_modal_plantilla3(url){
                $('#plantilla3_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_plantilla4(url){
                $('#plantilla4_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_plantilla5(url){
                $('#plantilla5_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            function abrir_modal_plantilla6(url){
                $('#plantilla6_Modal').load(url, function (){
                    $(this).modal('show');
                });
            }
            
        </script>
{% endblock %}