{%  load static %}

 <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md headerColor">
    

    <!--<div class="container ">
      <img src="{%  static 'img/logosccot.png' %}" alt="SCCOT" class="brand-image img-circle elevation-3 " height="100rem" >
     

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">-->
        <!-- Left navbar links -->
        <!-- <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="{% url 'inicio'  %}" class="nav-link textColor">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'inicio'  %}" class="nav-link textColor">Sccot</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'inicio'  %}" class="nav-link textColor">Sccot</a>
          </li>
          <li class="nav-item dropdown">
              <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle textColor">
                <i class="fas fa-th-large"></i>
              </a>
              <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}" tabindex="-1" aria-disabled="true">logout</a>
                </li>
                
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}" tabindex="-1" aria-disabled="true">Login</a>
              </li>
              {% endif %}    
                
              </ul>
            </li>
        </ul> -->
      <!-- </div> -->

    <!-- </div> -->
  </nav>
  <!-- /.navbar -->