<table class="table table-light" id="trabajos">
    <thead>
        <tr>
          <th >#</th>
          <th >Tipo de Trabajo</th>
          <th >Titulo</th>
          <th >Autor Correspondencia</th>
          <th ><center>Autores</center></th>
          <th >Institucion principal</th>
          <th >Resumen</th>
          <th >Palabras Claves</th>
          <th ><center>Manuscritos</center></th>
          <th >Curso</th>
          <th ><center>Acciones</center></th>
     </tr>
    </thead>
    <tbody>
        {% for object in trabajos %}

        <tr>
            <td>{{object.id}}</td>
            <td>{{object.tipo_trabajo}}</td>
            <td>{{object.titulo}}</td>
            <td>{{object.Autor_correspondencia}}</td>
            <td>
                {% for autor in autores_trab %}
                {% if autor.trabajo_id == object.id %}
                <ul>
                    <li>{{autor.autor}}</li>
                </ul>
                {%  endif   %}
                {% endfor %}
            </td>
            <td>{{object.institucion_principal}}</td>
            <td>{{object.resumen_esp}}</td>
            <td>{{object.palabras_claves}}</td>
            <td>
                {% for manuscrito in manuscritos %}
                {% if manuscrito.trabajo_id == object.id %}
                <ul>
                    <li>
                        <a href="media/{{ manuscrito.manuscrito }}">{{manuscrito.tituloM}}</a>
                    </li>
                </ul>
                {%  endif   %}
                {% endfor %}
            </td>
            <td>{{object.curso}}</td>
                        
            <td>
                <div class="d-grid gap-2 col-12 mx-auto"> 
                    <button onclick="" class="btn btn-primary"> <i class="fa-solid fa-folder-open"></i></i></button>
                    <button onclick="" class="btn btn-warning"> <i class="fa-solid fa-file-pen"></i></button><button onclick="" class="btn btn-danger"> <i class="fa-solid fa-box-archive"></i></button>
                </div>
                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div class="d-grid gap-1 col-4 mx-auto">
    <a href="{% url 'create_Trabajo'  %}" class="btn btn-success">Registrar Trabajo</a>
</div>
    